h1 {
    color: #0000CD !important;
    font-family: SimHei !important;
}

table th {
    /*...all th attributes like padding etc*/
    display:none !important;
}

table tr{
    font-size: medium !important;
}

.md-header{
   background-color: #3399FF !important;
}
